html, body {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgba(245,245,245);
}
#map, #myChart{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%
}

